.spendTime {
    font-size: 20px;
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 24px;
    color: #6047EC;
}

.bookmarkBlog {
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    width: 411px;
    height: 1552px;
}

.bookmarkBlog h2 {
    padding-left: 54px;
    padding-top: 30px;
}

.bookmark-info-container {
    font-size: 13px;
    background: rgba(23, 9, 106, 0.1);
    border-radius: 8px;
    margin-bottom: 10%;
    padding-left: 3%;
    padding-top: 3%;
    width: 371px;
    height: 98px;
    padding-bottom: 3%;

}

@media only screen and (max-width: 480px) {
    .bookmarkBlog {
        width: 100%;
        height: auto;
    }

    .bookmarkBlog h2 {
        padding-left: 10%;
    }

    .bookmark-info-container {
        width: 90%;
        height: auto;
        margin-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}