.blog-details {
    display: flex;
    justify-content: space-between;
    /* margin-right: 20%; */
    padding-top: 32px;
}

.author-details {
    display: flex;
}

.author-details-container {
    /* width: 100%; */
    width: 945px;
}

.author-details-container a {
    color: #6047EC;
    font-size: 20px;
    font-family: 'Exo 2';
    text-decoration-line: underline;
}

hr {
    margin-bottom: 4%;
    margin-top: 2%;
}

.coverImg {
    width: 945px;
    height: 450px;
    border-radius: 8px;
}

.author-details img {
    margin-top: 20%;
    margin-right: 24px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.Name p {
    font-size: 13px;
    color: #11111199;
}

.Name h5 {
    font-size: 20px;
}

.readingTime {
    padding-left: 475px;
    font-size: 15px;
    color: #01010199;
}

.title {
    width: 737px;
    height: 128px;
    font-weight: 700;
    font-size: 40px;
}