.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 4%;
  }
  
  nav.header a {
    color: #000;
    text-decoration: none;
    margin-left: 30px;
    font-size: large;
    font-weight: 500;
  }
  
  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  nav.header a:hover {
    font-size: x-large;
  }
  
  @media only screen and (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
    
    nav.header a {
      margin: 10px 0;
      display: block;
      font-size: 20px;
    }
  }
  